@import model._
@import controllers.CategoryForm._
@import helper._

@(vv : ViewValueCategory,form: Form[CategoryForm.Category])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@common.Default(vv){
  
   @helper.form(action = routes.CategoryController.editCategory()) {

      @CSRF.formField
      
      @if(form.errors.length > 0){
         <input type="hidden" name="id" value="@form.data("id")"/>
      }else{
         <input type="hidden" name="id" value="@form.get.id"/>
      }
     
      @helper.inputText(form("name"))
            
      @helper.inputText(form("slug"))

      @helper.inputText(form("color"))
           
      <input type="submit" value="更新"/>
          
   }
}