@*
 *
 * list page
 *
 *@
@import model._
@import controllers.TodoForm._

@import helper._


@(vv : ViewValueTodo,form: Form[TodoForm.Todo],id: Long)(implicit request: RequestHeader, messagesProvider: MessagesProvider)


@common.Default(vv){
  
   @helper.form(action = routes.ListController.editTodo(id)) {

      @CSRF.formField
      
      @helper.inputText(form("title"))
            
      @helper.textarea(form("body"))

      @helper.select(form("state"),options = Seq(("0" -> "TODO(着手前)"),("1" -> "進行中"),("2" -> "完了")))
      
      @helper.select(form("category_id"),options = vv.categorys)
           
      <input type="submit" value="更新"/>
          
   }
}
